/* Media sizing */

body {
    background-image: url(https://i.pinimg.com/564x/58/45/33/584533963b52ef77f22f2e9d4c276c90.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(63, 31, 176);
    
}
/* banner */
header {
    background-image: url(https://i.pinimg.com/originals/2f/cd/55/2fcd557a4f899e710841f3359a2e4a1e.gif);
    margin-top: auto;
    
}

h1 {
    display: block;
    background-color: rgb(175, 213, 246);
    color: rgb(78, 85, 157);
    text-align: center;
    border-radius: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
@media only screen and (max-width:600px) {
    
}}

h2 {
    display: inline-block;
    background-color: rgb(175, 213, 246);
    color: rgb(78, 85, 157);
    border-radius: 20px;

}

/* h3 {
    background-color: rgb(126, 153, 213);
    display: inline-block;
    border-radius: 10px;
    width: 20%;
} */
/* home button */
.return {
    display: inline-block;
    color: rgb(78, 85, 157);
    background-color: rgb(175, 213, 246);
    font-size: larger;
    border-radius: 10px;
    width: 140px;
}
.return:hover{
    background-color: rgb(194, 140, 229);

}

/* links */
.navlinks {
    text-decoration: none;
    background-color: rgb(126, 153, 213); 
    color: rgb(23, 56, 84);
    display: inline-block;
    border-radius: 40px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.navlinks:hover{
    background-color: rgb(194, 140, 229);
    padding: 1px;
}

/* banner paragraph */
p {
    text-decoration: none;
    background-color: rgb(126, 153, 213);
    color: rgb(23, 56, 84);
    display: inline-block;
    border-radius: 40px;
    font-size: larger;
}
/* about me descriptions */
.about{
    /* background-color: rgb(126, 153, 213); */
    color: rgb(23, 56, 84);
    display: inline-block;
    border-radius: 20px;
}

.footer {
    margin-bottom: auto;
}

/* images */
.bmo {
    width: 40%;
    border-radius: 20%;
}

.marcy {
    width: 40%;
    border-radius: 30%;
}

.paint {
    width: 40%;
    border-radius: 20%;
}

.me {
    width: 30%;
}

/* portfolio photos */
.art{
    width: 50%;
}

/* Social medis */
.socials{
    Display: inline-block;
    grid-template-columns: 60px;
    width: 70%;
    
}
.socialbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
}
.socials:hover{
    /* background-color: rgb(194, 140, 229);
    border-radius: 25px; */
    padding: 20px;
}

/* contact form */
.contact{
    background-color: rgb(126, 153, 213);
    border-radius: 10px; 
    display: inline-flex;
    color: rgb(23, 56, 84);
    flex-wrap:wrap-reverse;
    text-align: center;
    
}
.contactlabel{
    background-color: rgb(126, 153, 213);
    border-radius: 10px; 
    display: inline-block;
    color: rgb(23, 56, 84);
    text-align: center;

}